.card-img-top {
    width: 100%;
    height: 15vw;
    object-fit: contain;
    border-radius:  10px 10px 10px 10px;
}

.research-img{
    width: 100%;
    height: 20vw;
    object-fit: contain;
    border-radius:  10px 10px 10px 10px;
}

.card{
    border: 1px black;
    border-radius: 5%;
}

.card-body{
    background-color: rgba(145, 181, 229, 0.288);
    border-radius: 0 0 10px 10px;
}

.grid{
    border: 1px solid black;
    border-radius: 5%;
    margin-top: 10pt;
}

.bar {
    background-color: rgb(95, 88, 160);
    opacity: 0.8;
    height: 3px;
    margin-top: 8px;
}

.text-justify{
    text-align: justify;
}

.detail-img{
    object-fit: contain;
    padding-bottom: 10px;
}

.caption{
    font-style: italic;
    font-size:medium;
    text-indent: 0;
}

figure{
    margin-top: 50px;
    margin-bottom: 50px;
    text-align: center;
}

main{
    padding-top: 50px;
}

.frame-container {
    position: relative;
  }
.iframe-button {
    position: absolute;
    top: 70px;
    left: 430px;
  }
  
  .iframe-button{
    background-color: #242424;
    border-color: #357dbd00; /*set the color you want here*/
  }
  .iframe-button:hover{
    background-color: rgba(146, 146, 146, 0.863);
  }

  .keywords{
      font-style: italic;
  }